@font-face {
    font-family: race;
    src: url(/src/assets/Race\ Sport.ttf);
}
body{
    cursor: none;
}
.cursor{
    width: 22px;
    height: 22px;
    position: fixed;
    background-color: white;
    border-radius: 50%;
    border: 9px solid #fff;
    pointer-events: none;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}

@tailwind base;
@tailwind components;
@tailwind utilities; 